$textColor: #1B1810;
$blue: #758DF9;
$green: #B1E463;
$pink: #FF6D88;
$orange: #FFB865;
$purple: #CC99F3;
$white: #FCFAFA;

body {
    a {
        color: $textColor;
        text-decoration: none;
    }
}

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -0.02em;
}

.subheader2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.01em;
}

.subheader3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 140%;
}

.smalltext {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.smallertext {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.buttontext {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
}

.frontend {
    background-color: #e3c8f7;
}

.productdesign {
    background-color: #9faff5;
}

.displaycard {
    border: 2px solid $textColor;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    max-width: 750px;
}

.displaycontent {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 48px 24px;
    height: 300px;
}

.displayimage {
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    max-width: 450px;
    object-fit: cover;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}

.selectedworks {
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.swheader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 72px;
    margin-bottom: 32px;
    gap: 12px;
}

.swimage {
    margin-bottom: 30px;
    width: 70px;
}

.lines {
    width: 25%;
    height: 0px;
    border: 1px solid $textColor;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}

.headerabout {
    margin: 0 auto;
    width: 85%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.aboutcontent {
    position: relative;
    line-height: 140%;
    padding: 32px 48px;
    border: 2px solid $textColor;
    border-radius: 10px;
    width: 600px;
    margin-top: -35px;
    background-color: $white;
    z-index: 2;
}

.resumelink {
    border-radius: 28px;
    border: 2px solid $textColor;
    box-shadow: 2px 3px 0px $textColor;
    margin-left: 12px;
    padding: 14px 24px;
    transition: all .6s ease-in-out;
}

.resumelink:hover {
    box-shadow: 2px 3px 0px $pink;
    transition: all .3s ease-in-out;
}

.navlink {
    padding: 12px 24px;
    color: $textColor;

    a {
        color: $textColor;
        text-decoration: none;
        position: relative;
    }

    a::before {
        content: '';
        background-color: $green;
        position: absolute;
        left: 0px;
        bottom: -1px;
        width: 100%;
        height: 0px;
        z-index: -1;
        transition: all .3s ease-in-out;
    }

    a:hover::before {
        bottom: 0;
        height: 50%;
    }

    a.active::before {
        content: '';
        background-color: $green;
        position: absolute;
        left: 0px;
        bottom: -1px;
        width: 100%;
        height: 6px;
        z-index: -1;
        transition: all .3s ease-in-out;
    }

    a.active:hover::before {
        bottom: 0;
        height: 50%;
    }
}

.navbar {
    width: 85%;
    margin: 0 auto;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navright {
    display: flex;
    align-items: baseline;
    flex-direction: row;
}